@charset "utf-8";

body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

main div.caixa{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
}
main div form div{
	position: relative;
	width: 300px;
	margin: 0px;
}
main div form div{
	position: relative;
}
main div form div label{
	margin-top: 10px;
}
main div form div input{
	margin-top: 7px;
	width: 300px;
}
main div form div input{
	margin-top: 12px;
	width: 300px;
}
.error{
	position: relative;
	color: red;
}
.invalid-feedback{
	display: none;
}